<div class="col-md-4" ng-repeat="(id,user) in users">
        <div class="card text-center">
           <div></div>
            <div class=" text-center">
                    <img ng-src="{{user.img}}" alt="{{user.name}}" class=" img-fluid rounded-circle" width="150">
            </div>
           
            <div class="card-body" >
                <h4 class="card-title">{{user.name}}</h4>
                <p class="card-text ">{{user.description}}</p>
                <a href="/" class="btn btn-info">Learn more</a> 
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" ng-click="editUser(id)">Edit</button>
                <br> <br>
                <div class="card-footer">
                    <span>
                        <a href="{{user.github.url}}" class="btn btn-primary btn-sm"><i class="{{user.github.icon}}"></i>{{user.github.title}}</a>
                        <a href="{{user.facebook.url}}" class="btn btn-primary btn-sm"><i class="{{user.facebook.icon}}"></i>{{user.facebook.title}}</a><br><br>
                        <a href="{{user.twitter.url}}" class="btn btn-primary btn-sm"><i class="{{user.twitter.icon}}"></i>{{user.twitter.title}}</a> 
                        <a href="{{user.linkedin.url}}" class="btn btn-primary btn-sm"><i class="{{user.linkedin.icon}}"></i>{{user.linkedin.title}}</a>
                    </span>
                </div>
            </div>
        </div>
    </div> <!-- col ending --> 
</div> <!-- row ending -->